.primary {
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
}

.primary[data-theme='dark'] {
  color: var(--black-color);
  background-color: var(--primary-light-color);
}

.fullwidth {
  width: 100%;
}

.menu_container {
  display: flex;
  flex-direction: column;
  width: 3.6rem;
  height: 2.6rem;
  justify-content: space-between;
  position: relative;
}

.menu_container div {
  height: 0.6rem;
  border-radius: 0.3rem;
  background-color: var(--primary-color);
  transition: all ease-out 0.3s;
}

.menu_container div:last-child {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.menu_container .fade {
  opacity: 0;
}

.menu_container .rotate_right {
  transform: rotateZ(45deg);
}

.menu_container .rotate_left {
  transform: translateY(-50%) rotateZ(-45deg) !important;
}
