.h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

.h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}

.h4 {
  font-size: 2.4rem;
  font-weight: bold;
}

.text2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.invert {
  color: var(--white-color);
  background-color: initial;
}

.invert[data-theme='dark'] {
  color: var(--black-color);
  background-color: initial;
}
